<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To allow location services</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>To allow location services</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>To allow location services</string>
	<key>NSCameraUsageDescription</key>
	<string>To allow you to take photos</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>To allow you to add photos to library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow you to access photo library</string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>796373633465-0v14qg9p854rke2kvunsr480rt2sb28r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796373633465-0v14qg9p854rke2kvunsr480rt2sb28r</string>
	<key>API_KEY</key>
	<string>AIzaSyA-06b5vW01xrGpbcX_RDabwaeQ_42kWx0</string>
	<key>GCM_SENDER_ID</key>
	<string>796373633465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CSE335.CSE335-ClassProject</string>
	<key>PROJECT_ID</key>
	<string>cse335projectreceiptcloud</string>
	<key>STORAGE_BUCKET</key>
	<string>cse335projectreceiptcloud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:796373633465:ios:18c87e58a031f8bd</string>
	<key>DATABASE_URL</key>
	<string>https://cse335projectreceiptcloud.firebaseio.com</string>
</dict>
</plist>
